h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 40px 0px;
}

button {
    height: 35px;
    width: 175px;
    margin-left: 10px;
}

#aStarBtn {
    margin-right: 10px;
}

#resetBtnTwo {
    margin-right: 10px;
}

.grid {
    margin: 40px 0 40px 0;
}

.resetBtn { 
    margin-bottom: 20px;
}

.instruction-wrapper { 
    margin: 50px 0px 0px 0px;
    padding: 20px 20% 50px 20%;
    background-color: rgb(234, 242, 248);
}
